.Top-nav {
    background: #1e2933;
    width: 100%;
    height: 2.6em;
    border-bottom: 1px solid #1f3b47;

    ul {

        overflow: hidden;
        width: 1200px;
        margin: auto;


        li {
            width: 16.66666667%;
            display: list-item;
            float: left;
            border-left: 1px solid #273643;
            border-right: 1px solid #11171d;
            overflow: hidden;
            list-style: none;
            position: relative;

            a {
                width: auto;
                text-decoration: none;
                color: #999;
                display: block;
                text-align: center;
                padding: .8em 1em;
                font-size: .8em;


            }

            a:hover {
                color: #fff;
                text-align: center;
            }

        }
        li:hover{
            color: #fff;
            background-image: linear-gradient(#0e100e, rgba(3, 3, 10, 0));
        }


        #Python {
            border-top: 4px solid #3776ab;

        }
        li:nth-child(1):hover:before {
                        content: '';
                        position: absolute;
                        border-color: #3776ab transparent transparent transparent;
                        border-style: solid;
                        border-width: .5em;
                        top: 0;
                        left: 50%;
                        margin-left: -.25em;
                    }


        #PSF {
            border-top: 4px solid #78797a;
        }
        li:nth-child(2):hover:before {
                        content: '';
                        position: absolute;
                        border-color: #78797a transparent transparent transparent;
                        border-style: solid;
                        border-width: .5em;
                        top: 0;
                        left: 50%;
                        margin-left: -.25em;
                    }


        #Docs {
            border-top: 4px solid #ffd343;
        }
        li:nth-child(3):hover:before {
                        content: '';
                        position: absolute;
                        border-color: #ffd343 transparent transparent transparent;
                        border-style: solid;
                        border-width: .5em;
                        top: 0;
                        left: 50%;
                        margin-left: -.25em;
                    }


        #PyPl {
            border-top: 4px solid #82b043;
        }
        li:nth-child(4):hover:before {
                        content: '';
                        position: absolute;
                        border-color: #82b043 transparent transparent transparent;
                        border-style: solid;
                        border-width: .5em;
                        top: 0;
                        left: 50%;
                        margin-left: -.25em;
                    }


        #Jobs {
            border-top: 4px solid #a06ba7;
        }
        li:nth-child(5):hover:before {
                        content: '';
                        position: absolute;
                        border-color: #a06ba7 transparent transparent transparent;
                        border-style: solid;
                        border-width: .5em;
                        top: 0;
                        left: 50%;
                        margin-left: -.25em;
                    }


        #Community {
            border-top: 4px solid #b55863;
        }
        li:nth-child(6):hover:before {
                content: '';
                position: absolute;
                border-color: #b55863 transparent transparent transparent;
                border-style: solid;
                border-width: .5em;
                top: 0;
                left: 50%;
                margin-left: -.25em;
            }

    }
}


@media (max-width: 1200px){
        #top{width: 100%;}
    }


@media (max-width: 600px) {
    .Top-nav {
        ul {
            background: #1e2933;
            li {
                width: 100%;
            }
        }
    }
}

