#Top-nav{
    background: #1e2933;
    width: 100%;
    height: 2.4em;

    ul{
        list-style-type: none;
        overflow: hidden;
        width: 80%;
        margin: auto;
        border-bottom: 1px solid #1f3b47;

        li{
            width: 16.66666%;
            display: inline-block;
            float: left;
            border-left: 1px solid #273643;
            border-right: 1px solid #11171d;
            overflow: hidden;

            a{
                text-decoration: none;
                color: #63a57f;
                display: block;
                text-align: center;
                padding: .76em 1em;
                font-size: .8em;
            }

            a:hover{
                color: #fff;
                background-image: linear-gradient(#0e100e , rgba(3, 3, 10, 0));
            }
        }

        #Python {
            border-top: 4px solid #3776ab;
        }

        #PSF {
            border-top: 4px solid #78797a;
        }

        #Docs {
            border-top: 4px solid #ffd343;
        }

        #PyPl {
            border-top: 4px solid #82b043;
        }

        #Jobs {
            border-top: 4px solid #a06ba7;
        }

        #Community {
            border-top: 4px solid #b55863;
        }


    }
}