*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    vertical-align: baseline;
}

/*---BODY---*/

body{
    font: normal 1.2em SourceSansProRegular,Arial,sans-serif;

}

.active{
    opacity: 1;
    color: #e6e8ea;
}


/*-----TOP Navbar start's----*/

@import "Topnav";

/*-----TOP Navbar end's----*/


/*-----Header start'd here-----*/

@import "Banner";

/*------Header end's here----*/


/*------Main navigation bar start's here-----*/

@import "Nav";

/*-------Main navigation bar end's here------*/

@import "CodeBanner";

