* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline; }

/*---BODY---*/
body {
  font: normal 1.2em Georgia,serif; }

/*-----TOP Navbar start's----*/
.Top-nav {
  background: #1e2933;
  width: 100%;
  height: 2.6em;
  border-bottom: 1px solid #1f3b47; }
  .Top-nav ul {
    overflow: hidden;
    width: 1200px;
    margin: auto; }
    .Top-nav ul li {
      width: 16.66666667%;
      display: list-item;
      float: left;
      border-left: 1px solid #273643;
      border-right: 1px solid #11171d;
      overflow: hidden;
      list-style: none;
      position: relative; }
      .Top-nav ul li a {
        width: auto;
        text-decoration: none;
        color: #999;
        display: block;
        text-align: center;
        padding: .8em 1em;
        font-size: .8em; }
      .Top-nav ul li a:hover {
        color: #fff;
        text-align: center; }
    .Top-nav ul li:hover {
      color: #fff;
      background-image: linear-gradient(#0e100e, rgba(3, 3, 10, 0)); }
    .Top-nav ul #Python {
      border-top: 4px solid #3776ab; }
    .Top-nav ul li:nth-child(1):hover:before {
      content: '';
      position: absolute;
      border-color: #3776ab transparent transparent transparent;
      border-style: solid;
      border-width: .5em;
      top: 0;
      left: 50%;
      margin-left: -.25em; }
    .Top-nav ul #PSF {
      border-top: 4px solid #78797a; }
    .Top-nav ul li:nth-child(2):hover:before {
      content: '';
      position: absolute;
      border-color: #78797a transparent transparent transparent;
      border-style: solid;
      border-width: .5em;
      top: 0;
      left: 50%;
      margin-left: -.25em; }
    .Top-nav ul #Docs {
      border-top: 4px solid #ffd343; }
    .Top-nav ul li:nth-child(3):hover:before {
      content: '';
      position: absolute;
      border-color: #ffd343 transparent transparent transparent;
      border-style: solid;
      border-width: .5em;
      top: 0;
      left: 50%;
      margin-left: -.25em; }
    .Top-nav ul #PyPl {
      border-top: 4px solid #82b043; }
    .Top-nav ul li:nth-child(4):hover:before {
      content: '';
      position: absolute;
      border-color: #82b043 transparent transparent transparent;
      border-style: solid;
      border-width: .5em;
      top: 0;
      left: 50%;
      margin-left: -.25em; }
    .Top-nav ul #Jobs {
      border-top: 4px solid #a06ba7; }
    .Top-nav ul li:nth-child(5):hover:before {
      content: '';
      position: absolute;
      border-color: #a06ba7 transparent transparent transparent;
      border-style: solid;
      border-width: .5em;
      top: 0;
      left: 50%;
      margin-left: -.25em; }
    .Top-nav ul #Community {
      border-top: 4px solid #b55863; }
    .Top-nav ul li:nth-child(6):hover:before {
      content: '';
      position: absolute;
      border-color: #b55863 transparent transparent transparent;
      border-style: solid;
      border-width: .5em;
      top: 0;
      left: 50%;
      margin-left: -.25em; }

@media (max-width: 1200px) {
  #top {
    width: 100%; } }
@media (max-width: 600px) {
  .Top-nav ul {
    background: #1e2933; }
    .Top-nav ul li {
      width: 100%; } }
/*-----TOP Navbar end's----*/

/*# sourceMappingURL=mywork.css.map */
