*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    vertical-align: baseline;
}

/*---BODY---*/

body{
    font: normal 1.2em Georgia,serif;
}

/*-----TOP Navbar start's----*/


@import "Topnav";


/*-----TOP Navbar end's----*/



