* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline; }

/*---BODY---*/
body {
  font: normal 1.2em SourceSansProRegular,Arial,sans-serif; }

/*-----TOP Navbar start's----*/
.Top-nav {
  background: #1e2933;
  width: 100%;
  height: 2.45em;
  border-bottom: .8px solid #11171d; }
  .Top-nav ul {
    overflow: hidden;
    width: 1200px;
    margin: auto;
    border-bottom: .8px solid #273643; }
    .Top-nav ul li {
      width: 16.66666667%;
      display: list-item;
      float: left;
      border-left: 1px solid #273643;
      border-right: 1px solid #11171d;
      overflow: hidden;
      list-style: none;
      position: relative; }
      .Top-nav ul li a {
        width: auto;
        text-decoration: none;
        color: #999;
        display: block;
        /* what dose this do??????????????????????????????*/
        text-align: center;
        padding: .8em 1em;
        font-size: .8em; }
      .Top-nav ul li a:hover {
        color: #fff;
        text-align: center; }
    .Top-nav ul li:hover {
      color: #fff;
      background-image: linear-gradient(#0e100e, rgba(3, 3, 10, 0)); }
    .Top-nav ul #close {
      display: none; }
    .Top-nav ul li:nth-child(1) {
      background: rgba(26, 24, 26, 0.93); }
    .Top-nav ul li:nth-child(1):hover {
      background: linear-gradient(black, #1e2933);
      color: #fff; }
    .Top-nav ul li:nth-child(1):before {
      content: '';
      position: absolute;
      border-color: #999 transparent transparent transparent;
      border-style: solid;
      border-width: 12px 5px 0 5px;
      top: .8em;
      left: 44.0%;
      margin-left: 0; }
    .Top-nav ul li:nth-child(1):hover:before {
      content: '';
      position: absolute;
      border-color: #fff transparent transparent transparent;
      border-style: solid;
      border-width: 12px 5px 0 5px;
      top: .8em;
      left: 44.0%;
      margin-left: 0; }
    .Top-nav ul #Python {
      border-top: 3.5px solid #3776ab; }
    .Top-nav ul li:nth-child(2):hover:before {
      content: '';
      position: absolute;
      border-color: #3776ab transparent transparent transparent;
      border-style: solid;
      border-width: .5em;
      top: 0;
      left: 50%;
      margin-left: -.25em; }
    .Top-nav ul #PSF {
      border-top: 3.5px solid #78797a; }
    .Top-nav ul li:nth-child(3):hover:before {
      content: '';
      position: absolute;
      border-color: #78797a transparent transparent transparent;
      border-style: solid;
      border-width: .5em;
      top: 0;
      left: 50%;
      margin-left: -.25em; }
    .Top-nav ul #Docs {
      border-top: 3.5px solid #ffd343; }
    .Top-nav ul li:nth-child(4):hover:before {
      content: '';
      position: absolute;
      border-color: #ffd343 transparent transparent transparent;
      border-style: solid;
      border-width: .5em;
      top: 0;
      left: 50%;
      margin-left: -.25em; }
    .Top-nav ul #PyPl {
      border-top: 3.5px solid #82b043; }
    .Top-nav ul li:nth-child(5):hover:before {
      content: '';
      position: absolute;
      border-color: #82b043 transparent transparent transparent;
      border-style: solid;
      border-width: .5em;
      top: 0;
      left: 50%;
      margin-left: -.25em; }
    .Top-nav ul #Jobs {
      border-top: 3.5px solid #a06ba7; }
    .Top-nav ul li:nth-child(6):hover:before {
      content: '';
      position: absolute;
      border-color: #a06ba7 transparent transparent transparent;
      border-style: solid;
      border-width: .5em;
      top: 0;
      left: 50%;
      margin-left: -.25em; }
    .Top-nav ul #Community {
      border-top: 3.5px solid #b55863; }
    .Top-nav ul li:nth-child(7):hover:before {
      content: '';
      position: absolute;
      border-color: #b55863 transparent transparent transparent;
      border-style: solid;
      border-width: .5em;
      top: 0;
      left: 50%;
      margin-left: -.25em; }

@media (max-width: 1200px) {
  #top {
    width: 100%; } }
@media (max-width: 600px) {
  .Top-nav {
    height: auto; }
    .Top-nav ul {
      background: #1e2933; }
      .Top-nav ul li {
        width: 100%; }
      .Top-nav ul #close {
        display: inline; } }
/*-----TOP Navbar end's----*/
/*-----Header start'd here-----*/
.header {
  background-image: linear-gradient(#1e415e 10%, #2b5b84 90%);
  height: 560px; }
  .header .banner {
    background-image: linear-gradient(#1e415e 10%, #2b5b84 90%);
    height: 546px;
    padding-top: 16px;
    padding-left: 12px;
    padding-right: 12px;
    width: 1200px;
    margin: auto; }
  .header .python-logo {
    height: 83px;
    width: 290px; }
  .header .header_search {
    float: right;
    height: 101px; }
    .header .header_search a.Donate {
      float: left;
      width: auto;
      font-size: .85em;
      font-weight: 100;
      background-image: linear-gradient(#ffdf76 10%, #ffd343 90%);
      text-decoration: none;
      text-align: center;
      padding: .4em .75em .35em;
      color: #4d4d4d !important;
      border-radius: 6px;
      display: inline-block;
      position: relative;
      top: 35px;
      margin-right: 8px; }
    .header .header_search .search {
      display: inline-block;
      float: right;
      width: auto;
      border-top: 1px solid #2d3e4d;
      border-bottom: 1px solid #070a0c;
      background-color: #1e2933;
      line-height: 1em;
      -webkit-border-radius: 6px;
      margin: 21px 0; }
      .header .header_search .search form.search_head {
        padding: 5.6px 3.2px 5.6px 3.2px;
        border-right: 1px solid #070a0c;
        display: inline-block; }
        .header .header_search .search form.search_head img.image {
          display: inline-block;
          width: 30px;
          height: 30px;
          margin-bottom: -10px;
          margin-right: -5px;
          margin-left: 5px; }
        .header .header_search .search form.search_head input#search-field {
          margin: 2.2px 8px 2px;
          padding: 6.4px 8px 4.8px 8px;
          font-size: .85em;
          font-weight: 100;
          color: #bbb;
          border-radius: 3px;
          border: 0 solid;
          line-height: 1.6em;
          width: 225px;
          transition: width .3s ease-in-out; }
        .header .header_search .search form.search_head #search-field:focus {
          width: 290px; }
        .header .header_search .search form.search_head button.search_button {
          margin: 0 3.2px 0 0;
          padding: 9.4px 8px 8px 8px;
          color: #e6e8ea !important;
          border-top: 1px solid #3d83be;
          border-right: 1px solid #3776ab;
          border-bottom: 1px solid #3776ab;
          border-left: 1px solid #3d83be;
          border-radius: 6px;
          background-image: linear-gradient(#3776ab 10%, #2b5b84 90%);
          font-size: .8em;
          font-weight: 100; }
      .header .header_search .search .social {
        display: inline-block; }
        .header .header_search .search .social ul.social_ul {
          list-style-type: none;
          position: relative; }
          .header .header_search .search .social ul.social_ul li {
            list-style-type: none;
            display: list-item;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px; }
            .header .header_search .search .social ul.social_ul li a {
              text-align: center;
              padding: .8em .5em .875em .5em;
              color: #bbb;
              text-decoration: none;
              border-left: 1px solid #273643;
              display: block;
              font-size: 1em; }
            .header .header_search .search .social ul.social_ul li ul.media {
              display: none;
              list-style-type: none;
              position: absolute;
              top: 54px;
              left: -50.450px;
              right: 0;
              background-color: #caccce;
              z-index: 100;
              min-width: 100%;
              margin-top: -3px; }
              .header .header_search .search .social ul.social_ul li ul.media li.social_li {
                line-height: .8em;
                width: 100%; }
                .header .header_search .search .social ul.social_ul li ul.media li.social_li .icon-google:before {
                  content: "\f0d4";
                  font-family: FontAwesome, sans-serif;
                  font-style: normal;
                  font-weight: normal;
                  text-decoration: inherit;
                  color: #555;
                  font-size: 1.35em;
                  padding: .4em .4em 0 0;
                  position: relative;
                  top: 1.7px; }
                .header .header_search .search .social ul.social_ul li ul.media li.social_li .icon-face:before {
                  content: "\f082";
                  font-family: FontAwesome, sans-serif;
                  font-style: normal;
                  font-weight: normal;
                  text-decoration: inherit;
                  color: #555;
                  font-size: 1.35em;
                  padding: .4em .4em 0 0;
                  position: relative;
                  top: 1.7px; }
                .header .header_search .search .social ul.social_ul li ul.media li.social_li .icon-twitter:before {
                  content: "\f081";
                  font-family: FontAwesome, sans-serif;
                  font-style: normal;
                  font-weight: normal;
                  text-decoration: inherit;
                  color: #555;
                  font-size: 1.35em;
                  padding: .4em .4em 0 0;
                  position: relative;
                  top: 1.7px; }
                .header .header_search .search .social ul.social_ul li ul.media li.social_li .icon-chat:before {
                  content: "\f199";
                  font-family: FontAwesome, sans-serif;
                  font-style: normal;
                  font-weight: normal;
                  text-decoration: inherit;
                  color: #555;
                  font-size: 1.35em;
                  padding: .4em .4em 0 0;
                  position: relative;
                  top: 1.7px; }
                .header .header_search .search .social ul.social_ul li ul.media li.social_li a {
                  text-align: left;
                  font-size: .85em;
                  display: block;
                  padding: .5em 1.5em .4em 1em;
                  position: relative;
                  white-space: nowrap;
                  color: #555; }
                .header .header_search .search .social ul.social_ul li ul.media li.social_li :hover {
                  color: #e6e8ea;
                  background-color: #999; }
          .header .header_search .search .social ul.social_ul li.dropdown_list:hover ul.media {
            display: block;
            background-color: #caccce;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            border-bottom-right-radius: 5px; }
          .header .header_search .search .social ul.social_ul li.dropdown_list:hover {
            background-color: #caccce; }
            .header .header_search .search .social ul.social_ul li.dropdown_list:hover a {
              color: #555; }

.x {
  height: 1000px; }

/*------Header end's here----*/

/*# sourceMappingURL=mywork.css.map */
